{% extends 'core/layout/base.html' %}

{% block title %}
    <title>Sign up| </title>
{% endblock %}


{% block content %}

    <style>
        .sup-form {
            width: 550px;
        }

        @media screen and (max-width: 550px) {
            .sup-form {
                width: 95%;
            }
        }
    </style>
    <form action="{% url 'sign-up' %}" method="POST"
          class="container card px-5 pt-4 pb-2 my-5 sup-form"> {% csrf_token %}

        <h5 class="mb-5 text-center text-primary text-uppercase">Get started for free :)</h5>

        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-group">
                <strong>{{ field.label_tag }}</strong>
                {{ field }}
            </div>

        {% endfor %}
        <div class="text-center">
            <input type="submit" value="Sign up" class="btn btn-block btn-success">
        </div>
        <div class="mt-4 text-center">
            <p>You already have an account&nbsp;|&nbsp;<a href="{% url 'sign-in' %}" class="text-primary">sign in</a>
            </p>
        </div>
    </form>
{% endblock %}