{% extends 'core/layout/base.html' %}

{% block title %}
    <title>Logout / </title>
{% endblock %}

{% block content %}
    <style>
        .hv-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
        }
    </style>


    <h4 class="hv-center text-justify text-dark">You're successfully logout :)</h4>


{% endblock %}