{% extends 'core/layout/base.html' %}
{% load static %}

{% block title %}
    <title>Sign in| </title>
{% endblock %}


{% block content %}
    <style>
        .sin-form {
            width: 450px;
        }

        @media screen and (max-width: 450px) {
            .sin-form {
                width: 95%;
            }
        }
    </style>

    {% if messages %}
        {% for message in messages %}
            <div class="{{ message.tags }} container sin-form py-3 text-center my-2 ">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}

    <form action="{% url 'sign-in' %}" method="POST" class="container card p-4 my-5 sin-form"> {% csrf_token %}
        <h5 class="mb-5 text-center text-primary text-uppercase">Welcome back !</h5>

        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-group">
                <strong>{{ field.label_tag }}</strong>
                {{ field }}
            </div>

        {% endfor %}
        <div class="text-center">
            <input type="submit" value="Sign in" class="btn btn-block btn-primary">
        </div>

        <div class="mt-4 mb-2 text-center">
            <p>You didn't have an account &nbsp;|&nbsp;<a href="{% url 'sign-up' %}" class="text-success">sign in</a>
            </p>
        </div>
    </form>
{% endblock %}